<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu_left_panel.css') }}">
    <title>
      {% block title %}
        3c0m - SAV
      {% endblock %}
    </title>

    {% block javascripts %}{% endblock %}

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>
    <style type="text/css"></style>
    <div id="cssmenu">
      <ul>
        <li >
          <a href="membre">
            <i class="fa fa-fw fa-tachometer"></i>
            Tableau de Bord</a>
        </li>
        <li class="has-sub">
          <a href="res">
            <i class="fa fa-fw fa-folder-open-o"></i>
            Ressources</a>
          <!--<ul>
            <li class="has-sub">
              <a href="#">Menu 1</a>
               <ul>
                <li>
                  <a href="#">Menu 1.1</a>
                </li>
                <li>
                  <a href="#">Menu 1.2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Menu 2</a>
            </li>
      </ul>-->
        </li>
        <li>
          <a href="support">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
            {# }<i class="fa far fa-fw fa-support"></i> #}
            Support</a>
        </li>
        <li>
          <a href="faq">
            <i class="fa fa-fw fa-phone"></i>
            FAQ</a>
        </li>
        <li class="active">
          <a href="login">Connexion</a>
        </li>
      </ul>
    </div>

    <div id="view_right">

      {% block body %}{% endblock %}

    </div>

  </body>
</html>
