{% extends 'base.menu.html.twig' %}
{% block login %}

  <li class="active">
    <a class="ww" href="{{ path('lo_gin') }}">Déconnexion</a>
  </li>

{% endblock %}
{% block body %}
  faq
  <div id="test">
    <h1>
      {{ test|upper }}
    </h1>
  </div>
{% endblock %}
