{% extends 'base.menu.html.twig' %}

{% block body %}
  <h1>TEST de la variable "test" de la response($content)<br/>
    __-|::PanelClientController.php :

    <div style="color:green;background-color:#333;width:12%;">
      <h4>
        {{ test|upper }}
      </h4>
    </div>
  </h1>

{% endblock %}
