{% extends 'base.menu.html.twig' %}
{% block login %}

  <li class="active">
    <a class="ww" href="{{ path('lo_gin') }}">Déconnexion</a>
  </li>

{% endblock %}
{% block body %}
  <div id="test">
    <h1>
      {{ test|upper }}
    </h1>
  </div>
{% endblock %}
{% block body2 %}
  <div id="ensemble">
    <div id="centre-left">
      <h1>04.42.50.20.20</h1>
      <h2>support@exemple.com</h2>
      <h3>du lundi au vendredi 9h-12h/14h-18h</h2>
    </div>
    <div id="centre">
      <h1>
        Nouveau SAV
      </h1>
    </div>
    <div id="centre-r">

      <h1>Suivre un SAV
      </h1>
    </div>
    <div id="bas-l">
      <h1>historique des SAV
      </h1>
    </div>
  </div>
{% endblock %}
