<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma dexuièeme page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>ByeBye
      {% for i in nom %}
        {{ i }}
      {% endfor %}
      |
      {{ prenom }}
      !</h1>

    <p>
      Le ByeBye World est un grand classique en programmation. Il signifie énormément, car cela veut dire que vous avez réussi à exécuter le programme pour accomplir une tâche simple : afficher ce ByeBye world !
    </p>
  </body>
</html>
