{% extends 'base.menu.html.twig' %}

{% block body %}
  gestioncompte
  <div style="color:rgb(10, 210, 10);background-color:#777;border-radius:5px;padding-left:50px;padding-right:50px;">
    <h1>
      {{ test|upper }}
    </h1>
  </div>

  <div id="cssmenu" style="width:100%;">
    <ul >
      <li>
        <a href="admin" style="height:30px;padding-top:3%;padding-bottom:1%;">
          <i class="fa fa-fw fa-tachometer"></i>
          Retour au tableau de bord (admin)</a>
      </li>
    </ul>
  </div>
{% endblock %}
