{% extends 'base.menu.html.twig' %}

{% block body %}
  paneladmin
  <div style="color:rgb(10, 210, 10);background-color:#777;border-radius:5px;padding-left:50px;padding-right:50px;">
    <h1>
      {{ test|upper }}
    </h1>
  </div>
{% endblock %}
