{% extends 'base.menu.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}
  <strong>{{ eurt }}{{ username }}</strong>
  | paneladmin
  <div style="color:rgb(10, 210, 10);background-color:#777;border-radius:5px;padding-left:50px;padding-right:50px;">
    <h1>{{ test }}</h1>
  </div>
  <div >
    <ul >
      <li>
        <a href="membre" style="height:30px;padding-top:3%;padding-bottom:1%;">
          <i class="fa fa-fw fa-tachometer"></i>
          Retour au tableau de bord (membre)</a>
      </li>
    </ul>
  </div>

  <div >
    <ul>
      <li>
        <a href="gcompte" style="height:30px;padding-top:3%;padding-bottom:1%;">
          <i class="fa fa-fw fa-tachometer"></i>
          Gestion des comptes (gcompte)</a>
      </li>
      <li>
        <a href="galert" style="height:30px;padding-top:3%;padding-bottom:1%;">
          <i class="fa fa-fw fa-tachometer"></i>
          Gestion des alertes (galert)</a>
      </li>
    </ul>
  </div>
{% endblock %}
